<form action="/items/create"
      class="dropzone"
      id="my-awesome-dropzone"></form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>xx</th>
      <th>xx</th>
      <th>xx</th>
      <th>xx</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item["name"] %></td>
      <td><%= item["original_filename"] %></td>
      <td><%= item["_id"] %></td>
      <td><img src="/items/<%= item["_id"] %>/image"/></td>
    </tr>
  <% end %>
  </tbody>
</table>
